# Data Science Tools and Ecosystem

Data Science Tools and Ecosystems are summarized in this notebook

Some of the popular languages used by Data Scientists are:
1. Python
2. R
3. SQL

**Objectives:**
- Identify the benefits of Python
- Review languages such as Java and Julia
- Learn how to use notebooks in JupyterLab

Common libraries used by Data Scientists are:
1. NumPy
2. Pandas
3. PyTorch

| Data Science Tools |
|:------------------:|
|      RStudio       |
|    Apache Spark    |
|     TensorFlow     |

### Examples of evaluating arithmatic expressions in Python are below.

In [2]:
###### This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [11]:
# This will convert 200 minutes to hours by dividing by 60

200 // 60

3

## Author
Victor Rosales